<table mat-table [dataSource]="list" class="mat-elevation-z8 table">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="businessUnit">
    <th mat-header-cell *matHeaderCellDef> Business Unit </th>
    <td mat-cell *matCellDef="let element"> {{element.businessUnit}} </td>
  </ng-container>

  <ng-container matColumnDef="companyName">
    <th mat-header-cell *matHeaderCellDef> Company Name </th>
    <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
  </ng-container>

  <ng-container matColumnDef="federalId">
    <th mat-header-cell *matHeaderCellDef> Federal Id </th>
    <td mat-cell *matCellDef="let element"> {{element.federalId}} </td>
  </ng-container>

  <ng-container matColumnDef="naic">
    <th mat-header-cell *matHeaderCellDef> Naic </th>
    <td mat-cell *matCellDef="let element"> {{element.naic}} </td>
  </ng-container>

  <ng-container matColumnDef="lastUpdateDate">
    <th mat-header-cell *matHeaderCellDef> Last Update Date </th>
    <td mat-cell *matCellDef="let element"> {{element.lastUpdateDate}} </td>
  </ng-container>

  <ng-container matColumnDef="lastUpdateId">
    <th mat-header-cell *matHeaderCellDef> Last Update Id </th>
    <td mat-cell *matCellDef="let element"> {{element.lastUpdateId}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

